/CheckerBoard.bin
/checkers_board2.bin
/checkers_board3.bin
/checkers_board3.png.bin
/chktest.labels
/chktest.mif
/Color_Smudges.bin
/data.e
/project.tmproj
/test.e
/test.labels
/test.mif
/testprog (copy).e
/testprog (copy).e~
/testprog (copy).labels
/testprog (copy).mif
/testprog.labels